@page
@model Proyectos.App.Presentacion.Pages.Equipos.DeleteModel

@{
    int equipoId = Model.equipo.id;
}

<h2>Edición de los datos del equipo @Model.equipo.nombre</h2>
<form method="post">
    <input type="hidden" asp-for="equipo.id" /> 
    <div class="form-group">
        <label asp-for="equipo.codigo"></label>
        <input asp-for="equipo.codigo" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="equipo.codigo"></span>
    </div>   
    
    <div class="form-group">
        <label asp-for="equipo.nombre"></label>
        <input asp-for="equipo.nombre" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="equipo.nombre"></span>
    </div>   
    
    <div class="form-group">
        <label asp-for="equipo.meet"></label>
        <input asp-for="equipo.meet" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="equipo.meet"></span>
    </div>   
    
    <div class="form-group">
        <label asp-for="equipo.whatapp"></label>
        <input asp-for="equipo.whatapp" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="equipo.whatapp"></span>
    </div>   
    
    <div class="form-group">
        <label asp-for="equipo.formador"></label>
        <input asp-for="equipo.formador" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="equipo.formador"></span>
    </div>   
    
    <div class="form-group">
        <label asp-for="equipo.tutor"></label>
        <input asp-for="equipo.tutor" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="equipo.tutor"></span>
    </div>

    <button type="submit" class="btn btn-danger">ELIMINAR</button>    
</form>

<a asp-page="./List" class="btn-default">Regresar a la lista de equipos </a>