@page
@model Proyectos.App.Presentacion.Pages.EstadoProyectos.DetailsModel
@{
}

<h2>Datos Detallados de EstadoProyecto @Model.estadoProyecto.nombre</h2>
<div>
    ID: @Model.estadoProyecto.id
</div>
<div>
    NOMBRES: @Model.estadoProyecto.nombre
</div>

<a asp-page="./List" class="btn btn-default">Volver a la Lista de estadoProyectos.. </a>
