@page
@model Proyectos.App.Presentacion.Pages.EstadoProyectos.EditModel

@{
    int estadoProyectoId = Model.estadoProyecto.id;
}

<h2>Edición de los datos del estadoProyecto @Model.estadoProyecto.nombre</h2>
<form method="post">
    <input type="hidden" asp-for="estadoProyecto.id" />
    <div class="form-group">
        <label asp-for="estadoProyecto.nombre"></label>
        <input asp-for="estadoProyecto.nombre" class="form-contestadoProyecto">
        <span class="text-danger" asp-validation-for="estadoProyecto.nombre"></span>
    </div>  
    
    <button type="submit" class="btn btn-success">Grabar</button>    
</form>

<a asp-page="./List" class="btn-default">Regresar a la lista de estadoProyectos </a>